* {
    font-family: 'Lato', sans-serif, bold;
    color: white;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    outline: none;
    left: 0;
    right: 0;
}

.big_panel {
    height: 100vh;
    background-color: darkorange;
    position: relative;
}
#left_column {
    margin-left: 30%;
    margin-top: 15%;
    height: 40%;
    width: 20%;
    float: left;
    border-right: solid 1px white;
}
#right_column {
    width: 20%;
    margin-top: 15%;
    height: 40%;
}

.column_header {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: solid 1px white;
    width: 90%;
    margin-left: 5%;
}

.column_list {
    list-style-position: inside;
    list-style-type: none;
}

#left_column_list {
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    height: 97%;
}

#right_column_list {
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    height: 97%;
}

.column_list_item {
    height: 20px;
}

#bottom {
    background-color: orangered;
}

#footer {
    background-color: rgba(20, 20, 20, 0.7);
    height: 30px;
    position: fixed;
    bottom: 0px;
}

#nametag {
    position: absolute;
    left: 20px;
    height: 30px;
    line-height: 30px;
    align: vertical;
}

input {
    border-bottom: 2px solid white;
    font-size: 30px;
    autofocus: true;
    /*resize: none;*/
    height: 55px;
    overflow: hidden;
    white-space: normal;
    text-align: left;
    text-align-last: left;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    font-style: italic;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    font-style: italic;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-style: italic;
}

#content_wrapper {
    position: absolute;
    width: 50%;
    height: 200px;
    margin: auto;
    top:0;
    bottom: 0;
}