<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddiment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/controller.js"></script>
</head>

<body>
    <div id="top" class="big_panel">
        <div id="content_wrapper">
            <form method="post" action="/">
                <input name="url" id="url_input" placeholder="https://www.reddit.com/r/..." type="text" >
            </form>
            <p id="iovanaslide">{{slide}}</p>
        </div>
    </div>

    <div id ="bottom" class="big_panel">
        <div id="wrapper">
            <div id="percentage_bar">{{percentage}}</div>
            <div id="left_column">
                <div class="column_header">Positive</div>
                <div id="left_column_list">
                    <ol class="column_list">
                        <li class="column_list_item"><pre>{{pos1}}</pre></li>
                        <li class="column_list_item"><pre>{{pos2}}</pre></li>
                        <li class="column_list_item"><pre>{{pos3}}</pre></li>
                        <li class="column_list_item"><pre>{{pos4}}</pre></li>
                        <li class="column_list_item"><pre>{{pos5}}</pre></li>
                        <li class="column_list_item"><pre>{{pos6}}</pre></li>
                        <li class="column_list_item"><pre>{{pos7}}</pre></li>
                        <li class="column_list_item"><pre>{{pos8}}</pre></li>
                        <li class="column_list_item"><pre>{{pos9}}</pre></li>
                        <li class="column_list_item"><pre>{{pos10}}</pre></li>
                    </ol>
                </div>
            </div>

            <div id="right_column">
                <div class="column_header">Negative</div>
                <div id="right_column_list">
                    <ol class="column_list">
                        <li class="column_list_item"><pre>{{neg1}}</pre></li>
                        <li class="column_list_item"><pre>{{neg2}}</pre></li>
                        <li class="column_list_item"><pre>{{neg3}}</pre></li>
                        <li class="column_list_item"><pre>{{neg4}}</pre></li>
                        <li class="column_list_item"><pre>{{neg5}}</pre></li>
                        <li class="column_list_item"><pre>{{neg6}}</pre></li>
                        <li class="column_list_item"><pre>{{neg7}}</pre></li>
                        <li class="column_list_item"><pre>{{neg8}}</pre></li>
                        <li class="column_list_item"><pre>{{neg9}}</pre></li>
                        <li class="column_list_item"><pre>{{neg10}}</pre></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p id="nametag">&#169; Iovana Pavlovici 2016</p>
    </div>
</body>
</html>